<mat-sidenav-container class="app-shell">
  <mat-sidenav mode="side" opened class="app-sidenav">
    <div class="brand">
      <img src="logo.png" alt="Logo" class="brand-logo" />
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/clients" routerLinkActive="is-active">
        <mat-icon>people</mat-icon>
        <span>Clientes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="app-toolbar">
      <span class="toolbar-title">Panel de administración</span>

      <div class="user-section">
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
          <div class="avatar">{{ initials }}</div>
          <span class="username">{{ loggedUser?.name }}</span>
          <mat-icon>expand_more</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">
          <div class="menu-user-info">
            <div class="menu-avatar">{{ initials }}</div>
            <div class="menu-name">{{ loggedUser?.name }}</div>
          </div>

          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <main class="app-main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
