::ng-deep .mat-mdc-dialog-title {
  text-align: center !important;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

::ng-deep .mat-mdc-dialog-content {
  text-align: center !important;
  justify-content: center;
  display: flex;
  padding-top: 8px;
  font-size: 15px;
  line-height: 1.4;
}

::ng-deep .mat-mdc-dialog-actions {
  justify-content: center !important;
  margin-top: 8px;
}

::ng-deep button {
  min-width: 100px;
}
