<div class="login-container">
  <mat-card>
    <img src="logo.png" alt="login image" class="login-image" />

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" />
        <mat-error
          *ngIf="
            form.get('username')?.hasError('required') &&
            form.get('username')?.touched
          "
        >
          Es necesario agregar un nombre de usuario.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />

        <mat-error
          *ngIf="
            form.get('password')?.hasError('required') &&
            form.get('password')?.touched
          "
        >
          Es necesario agregar una contraseña.
        </mat-error>
      </mat-form-field>

      <div class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <button
        mat-raised-button
        color="primary"
        class="full-width"
        [disabled]="loading"
      >
        {{ loading ? "Ingresando..." : "Ingresar" }}
      </button>
    </form>
  </mat-card>
</div>
